header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  height: 60px;
  width: 100%;
  padding: 5px 0;
}

ul.container {
  display: flex;
  background-color: #00ff00;
  height: 50px;
  width: 1000px;
  max-width: 1000px;
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.logo {
  background-color: #0000ff;
  height: 100%;
  width: 120px;
}

.logo a {
  width: 100%;
  height: 100%;
}

.search {
  position: absolute;
  display: flex;
  background-color: #550000;
  height: 40px;
  left: 140px;
  right: 220px;
  margin: 5px 0;
}

.user {
  background-color: #005500;
  height: 100%;
  width: 200px;
  position: absolute;
  right: 0;
}

.find {
  background-color: #005555;
  height: 100%;
  width: 44%;
}

.location{
  background-color: #009999;
  height: 100%;
  width: 44%;
}

.action {
  background-color: #119911;
  height: 100%;
  width: 12%;
}

label {
  padding: 0 10px;
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  width: 30%;
}

#search_find, #search_location {
  font-size: 14px;
  vertical-align: middle;
  padding: 0 10px;
  border: none;
  height: 100%;
  width: 71%;

}
