header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d32323;
  height: 60px;
  width: 100%;
  padding: 5px 0;
}

header .container {
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  height: 50px;
  width: 1000px;
  max-width: 1000px;
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

header .container .logo {
  background-image: url("../images/logo.jpg");
  height: 100%;
  width: 120px;
  background-size: 100%
}

header .container .logo a {
  width: 100%;
  height: 100%;
}

header .container .search {
  position: absolute;
  display: flex;
  background-color: #fefefe;
  border: #ccc solid 1px;
  border-radius: 4px;
  height: 40px;
  left: 140px;
  right: 220px;
  margin: 5px 0;
}

.user {
  height: 100%;
  width: 200px;
  position: absolute;
  right: 0;
}

.find {
  height: 100%;
  width: 44%;
}

.location{
  height: 100%;
  width: 44%;
}

.action {
  height: 100%;
  width: 12%;
}

label {
  padding: 0 10px;
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  width: 30%;
}

.location label {
  border-left: #ccc solid 1px;
}

#search_find, #search_location {
  font-size: 14px;
  vertical-align: middle;
  padding: 0 10px;
  border: none;
  height: 100%;
  width: 71%;

}

button {
  background: red;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
